<section class="contacts-hero">
  <div class="container">
    <h2 class="contacts-hero__header">контакти</h2>
    <div class="contacts-hero__tumb">
      <a href="#" class="contacts-hero_picture">
        <img src="#" alt="video" />
      </a>

      <div class="contacts-hero__text">
        <p>
          Людина уперше побачивши процес 3D друку може легко захопитися
          спостереженням за цим процесом не на десяток хвилин.
        </p>
        <p>
          Наша команда створює timelapse відео що б ви могли краще ознайомитися
          з технологією 3D друку і просто помилуватися красою цього процесу.
        </p>
        <p>Приємного перегляду!</p>
      </div>
    </div>
  </div>
</section>
